.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--layout-padding);
  min-height: 100vh;
}
.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  height: 300px;
}

.content {
  margin: 0 auto;
  height: 500px;
}